.checkbox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}

.checkbox_active {
  background: #000000;
}
