.tabs {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  background: #ffffff;
  border-radius: var(--border-radius);
  border: 2px solid #b8b8b8;
  height: 40px;
  width: 100%;
}

.tab {
  flex: 1;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  color: #000000;
  height: 42px;
  padding: 0 16px;
}

.tab_selected {
  background: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
