.tabs {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  height: 40px;
  width: 100%;
  gap: 8px;
}

.tab {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  color: #454645;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.tab_selected {
  background: #e85d04;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: #ffffff;
}
