.specific {
  width: 100%;
  padding-top: 135px;
}
.discover {
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 4px;
  color: #9e9e9e;
  margin-bottom: 10px;
}

.specific_title {
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1b1b1e;
  margin-bottom: 40px;
}

.specific_list {
  margin-bottom: 64px;
}

.specific_list_title {
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 20px;
}

.specific_list_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
}

.specific_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-block);
  border-radius: var(--border-radius);
  width: 129.75px;
  height: 140px;
  cursor: pointer;
}
