.btn {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  width: fit-content;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  height: 40px;
}

.btn__icon_left {
  margin-right: 10px;
}
.btn__icon_right {
  margin-left: 10px;
}

.btn_primary {
  background: #000000;
  padding: 0 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.btn_primary_disabled {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.72),
      rgba(255, 255, 255, 0.72)
    ),
    #000000;
  pointer-events: none;
}

.btn_outlined {
  background: #ffffff;
  border: var(--border-main);
  box-sizing: border-box;
  padding: 8px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.btn_outlined_disabled {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.96),
      rgba(255, 255, 255, 0.96)
    ),
    #000000;
  border-color: #b8b8b8;
  color: #707070;
  pointer-events: none;
}
