.container {
  border: var(--border-main);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  background: #ffffff;
  padding: 10px 13px;
  width: 791px;
  height: 71px;
}

.input {
  flex: 1;
  border: none;
  font-family: var(--font-main);
  font-size: 16px;
  height: 100%;
}

.btn {
  width: 130px;
  height: 50px;
}
