.item {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 26px;
}

.item_img {
  width: 105px;
  height: 107.14px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.item_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
}

.item_header_name {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-right: 9px;
}

.item_header_review {
  font-family: var(--font-main);
  font-size: 10.8777px;
  line-height: 15px;
  color: #000000;
  margin-left: 4px;
}

.item_header_plus {
  margin-left: auto;
  cursor: pointer;
}

.item_body {
  margin-top: 2px;
  font-family: var(--font-main);
  font-size: 15px;
  line-height: 22px;
  color: #000f22;
}

.item_tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

.item_pages {
  margin-top: 10px;
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
}
