.tag {
  width: fit-content;
  border: 2px solid #d6d6d6;
  border-radius: var(--border-radius);
  padding: 2px 8px;
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  display: block;
  text-decoration: none;
}
