.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 74px;
  margin-bottom: 24px;
}

.head_text {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #141414;
  width: 600px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
