.banner {
  width: 100%;
  height: 344px;
  background: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
}

.banner_title {
  font-family: var(--font-logo);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1b1b1e;
}
