.auth_container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.auth_container_col {
  flex: 1;
}

.auth_main {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_main_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 20px;
}

.auth_main_block {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-height: 796px) {
  .auth_main_block {
    margin-top: 60px;
  }
}

.auth_main_title {
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1b1b1e;
  margin-bottom: 38px;
  text-align: center;
}

.auth_main_input {
  border: var(--border-main);
  border-radius: var(--border-radius);
  width: 387px;
  height: 40px;
  padding: 8px 16px;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 24px;
}

.auth_main_input + .auth_main_input {
  margin-top: 24px;
}

.privacy_checkbox {
  margin-right: 15px;
}

.auth_main_forget {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-self: flex-start;
  color: #000000;
  margin-top: 16px;
}

.auth_main_btns {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  margin-top: 34px;
}

.auth_main_btns + .auth_main_btns {
  margin-top: 26px;
}

.auth_main_btn {
  flex: 1;
}

.auth_img {
  background: rgba(0, 0, 0, 0.2);
}

.auth_modal {
  width: 528px;
  height: 488px;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
