.search {
  background-image: url(/discover-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 72px);
  padding: 100px 224px;
}

.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_title {
  text-align: center;
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1b1b1e;
  margin-bottom: 49px;
}

.search_tabs {
  margin-bottom: 30px;
  width: 319px;
}

.search_popular {
  margin-bottom: 51px;
  width: 100%;
}
.search_popular_block {
  width: 100%;
}

.search_popular_block + .search_popular_block {
  margin-top: 26px;
}

.search_popular_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.search_popular_item {
  width: 118.5px;
  height: 140px;
  background: #ffffff;
  border: var(--border-block);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.search_links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.search_links_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 26px;
  height: 168px;
  gap: 12px;
  column-gap: 97px;
}
.search_links_link {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}

/* SPECIFIC */

.specific_popular {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.specific_popular_item {
  width: 144px;
  height: 178px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 17.5px 16px;
}

.specific_popular_item_name {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #010400;
  align-self: flex-end;
}

/* RESULTS */

.results_container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 72px);
}

.results_content {
  flex: 1;
  height: 100%;
  padding: 20px 0;
  padding-left: 125px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
