.search {
  min-height: calc(100vh - 72px);
  background: #f4f4f4;
  padding: 50px 324px;
}

.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_title {
  text-align: center;
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1b1b1e;
  margin-bottom: 41px;
}

.search_tabs {
  margin-bottom: 30px;
  width: 262px;
}
.search_block_title {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 15px;
}

.search_input {
  width: 100%;
  margin-bottom: 41px;
}
.search_popular {
  margin-bottom: 51px;
  width: 100%;
}
.search_popular_block {
  width: 100%;
}

.search_popular_block + .search_popular_block {
  margin-top: 26px;
}

.search_popular_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.search_popular_item {
  width: 144px;
}

.search_popular_item_name {
  margin-top: 8px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}

.search_links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.search_links_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 26px;
  height: 168px;
  gap: 12px;
  column-gap: 97px;
}
.search_links_link {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}

.results_container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 72px);
}

.results_sidebar {
  height: 100%;
  width: 322px;
  border-right: 1px solid #e6e6e6;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.results_label {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
}

.results_specific_tab {
  margin-bottom: 16px;
}

.results_select_btn {
  width: 100%;
  margin-bottom: 13px;
}

.results_divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 6px;
}

.results_type_tab {
  margin-bottom: 16px;
}

.results_ratings {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.results_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.results_pages {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  gap: 15px;
}

.results_page_input {
  flex: 1;
  width: inherit;
  height: 40px;
  background: #ffffff;
  border: var(--border-main);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 8px 16px;
}

.results_page_range {
  margin-bottom: 32px;
}

.results_date {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 36px;
  gap: 15px;
}
.results_date_input {
  width: 116px;
  height: 40px;
  background: #ffffff;
  border: var(--border-main);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 8px 16px;
  text-align: right;
}

.results_content {
  flex: 1;
  height: 100%;
  padding: 20px 0;
}

.results_content_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 125px;
  padding-right: 200px;
}

.results_content_head_text {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #141414;
}

.results_content_recents {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 24px;
  padding-left: 132px;
}

.results_content_recent {
  width: 180px;
}
