.search {
  min-height: calc(100vh - 72px);
  background: #f4f4f4;
  padding: 50px 324px;
}

.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_title {
  text-align: center;
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1b1b1e;
  margin-bottom: 41px;
}

.search_tabs {
  margin-bottom: 30px;
}
.search_block_title {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 15px;
}

.search_input {
  width: 100%;
  margin-bottom: 41px;
}
.search_popular {
  margin-bottom: 51px;
  width: 100%;
}
.search_popular_block {
  width: 100%;
}

.search_popular_block + .search_popular_block {
  margin-top: 26px;
}

.search_popular_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.search_popular_item {
  width: 118px;
}

.search_links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.search_links_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 26px;
  height: 168px;
  gap: 12px;
  column-gap: 97px;
}
.search_links_link {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}
